*.tar.gz

*.exe
src/rocketcoin
src/rocketcoind
src/rocketcoin-cli
src/rocketcoin-tx
src/test/test_rocketcoin
src/test/test_rocketcoin_fuzzy
src/qt/test/test_rocketcoin-qt
test/server
test/server2
nbproject/
nbproject/private/


# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/bitcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
rocketcoin-qt
rocketcoin-Qt.app

# Unit-tests
Makefile.test
rocketcoin-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_rocketcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libbitcoinconsensus.pc
contrib/devtools/split-debug.sh
!/depends/patches/native_biplist/sorted_list.patch
!/depends/patches/native_cdrkit/cdrkit-deterministic.patch
!/depends/patches/native_mac_alias/python3.patch
!/depends/patches/qt/fix_qt_pkgconfig.patch
!/depends/patches/qt/mingw-uuidof.patch
!/depends/patches/qt/fix-xcb-include-order.patch
!/depends/patches/qt/pidlist_absolute.patch
!/depends/patches/zeromq/9114d3957725acd34aa8b8d011585812f3369411.patch
!/depends/patches/zeromq/9e6745c12e0b100cd38acecc16ce7db02905e27c.patch